<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python\python.exe|D:\Python\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="FastAPI" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="main.py" />
        </rule>
      </rules>
    </rewrite>

    <!-- Environment Variables -->
    <applicationInitialization>
      <add initializationPage="/api/docs" />
    </applicationInitialization>

    <!-- CORS Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
      </customHeaders>
    </httpProtocol>

    <!-- Default Documents -->
    <defaultDocument>
      <files>
        <add value="main.py" />
      </files>
    </defaultDocument>
  </system.webServer>

  <!-- FastCGI Settings -->
  <system.webServer>
    <fastCgi>
      <application fullPath="D:\Python\python.exe" arguments="D:\Python\wfastcgi.py">
        <environmentVariables>
          <add name="WSGI_HANDLER" value="main.app" />
          <add name="PYTHONPATH" value="D:\invoice sodftwre11\invoice sodftwre\backend" />
          <add name="WSGI_LOG" value="D:\invoice sodftwre11\invoice sodftwre\backend\wfastcgi.log" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>